<h1>Cryptos</h1>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Cost per</th>
      <th>Amount owned</th>
    </tr>
  </thead>
  <tbody>
    <% @cryptos.each do |crypto| %>
      <% if crypto.user_id == current_user.id %>
        <% if crypto.symbol %>
          <% crypto.symbol = crypto.symbol.upcase %>
        <% end %>
        <tr>
          <% for x in @lookup_crypto['data'] %>
            <% if crypto.symbol == x['symbol'] %>
              <td><%= link_to x['name'], crypto %></td>
            <% end %>
          <% end %>
          <td><%= crypto.symbol %></td>
          <td><%= crypto.cost_per %></td>
          <td><%= crypto.amount_owned %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Crypto', new_crypto_path, class: 'btn btn-success'%>
